<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Indie By Cookaroo - Healthy And Convenient Meals Delivered to You</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">


    
  </head>

  <body>

    <!-- Fixed navbar -->
    
      
        
      
    

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				
				<div class="cover_box">
				<div class="col-md-1">
				<img id="app"src="assets/img/android.png">
				
				</div>
				<h1 class="animated GoIn indie" data-animated="GoIn"> IndieGrub </h1><h1 id="bycook"> by Cookaroo</h1>

				<div class="col-lg-8 col-lg-offset-5">
				<img class="pulse2"src="assets/img/logo.png"width="80" style="display:block;">
				</div>

				<h2 class="animated bounceInBottom tagline" style="text-transform:none;">Made With <sec id="love">Love</sec></h2>
			<!-- row -->
			<div class="row centered">

				<div class="col-lg-8 col-lg-offset-2">
				
				 
				<h3 class="animated bounceInLeft tagline " style="text-transform:none;">Home Made.<sec id="love">Scrumptious.</sec> Delivered. <b><sec id="love"><br><br>Only in Koramangala and H.S.R Layout</b></sec></h3>
				</div>
				</div>
				
				  <div class=" centered">
            <div id="time_box"class="time_box">
            	<h4>Not In These Areas ? Leave Us Your E-mail and We'll Notify You When We Arrive!</h4>
				<form class="form-inline" method="post" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="e-mail">Email address</label>
				    <input id="e_id" type="email" class="form-control" id="e-mail" name="e-mail" placeholder="Enter email">
				  </div>
				  <button id="save"type="submit" class="btn btn-info" onClick="Check_Id();">Submit</button>
				</form>            
			</div>
			<div class="row centered">

				<div class="col-lg-8 col-lg-offset-2 scroll_down">
				<a><p>Start Ordering!<i class="fa fa-arrow-circle-o-down"></i></p></a>
				</div>
				</div>
      </div>

				</div>
		</div><!-- container -->
	</div><!-- headerwrap -->
</div>
</div>
<div id="sec2">
	<div class="container">
		
			
			<h1 class="love">Category 1 </h1>
			<div class="cards">
			<div class="card">
				<div class="food_card">
				 	<h1>Dish Name</h1>
                    <img src="assets/img/logo.png" />
                    <h3>Chef Name</h3>
                </div>
                <div class="fbox">
                 	<form class="fcardico">
                 	<div class="boxit">
                 	<p><b>Price </b></b><p> Price</p>
                 	
                 	<div class="boxit">

                 	<p><b>Quantity </b></p> <input type="number" style="width:40px;  background: transparent;color:white;">
                 	
                 	<div class="boxit">
                 	<p><b>Order </b><a><i class="fa fa-shopping-cart"></i></a>
                 	</div>
                 </div>	
               
					
				</div>
			</div>
			</div>
			<div class="card">
				<div class="food_card">
				 	<h1>Dish Name</h1>
                    <img src="assets/img/logo.png" />
                    <h3>Chef Name</h3>
                </div>
                <div class="fbox">
                 	<form class="fcardico">
                 	<div class="boxit">
                 	<p><b>Price </b></b><p> Price</p>
                 	
                 	<div class="boxit">

                 	<p><b>Quantity </b></p> <input type="number" style="width:40px;  background: transparent;color:white;">
                 	
                 	<div class="boxit">
                 	<p><b>Order </b><a><i class="fa fa-shopping-cart"></i></a>
                 	</div>
                 </div>	
               
					
				</div>
			</div>
			</div>
				<div class="card">
				<div class="food_card">
				 	<h1>Dish Name</h1>
                    <img src="assets/img/logo.png" />
                    <h3>Chef Name</h3>
                </div>
                <div class="fbox">
                 	<form class="fcardico">
                 	<div class="boxit">
                 	<p><b>Price </b></b><p> Price</p>
                 	
                 	<div class="boxit">

                 	<p><b>Quantity </b></p> <input type="number" style="width:40px;  background: transparent;color:white;">
                 	
                 	<div class="boxit">
                 	<p><b>Order </b><a><i class="fa fa-shopping-cart"></i></a>
                 	</div>
                 </div>	
               
					
				</div>
			</div>
			</div>
			
			</div>
			</p>
			</div>
			</div>
</div>
			


	<!-- PORTFOLIO SECTION -->
	

	<!-- FEATURE SECTION -->
	


	
	
	
	
	
	<!-- FOOTER -->
<div id="f">
	<div id="r">
		<div class="container">
			
			   
			   <div class="footer navbar-fixed-bottom">
			  <div id="order_box" >
			  <h3 class="love">Your Order</h3>
			  <div class="det_order" id="det_order">

				   <form class="ord">
				   <ul id='det'>
				   <li id="item1">
				   	<input id="item" type="text" value="item 1" disabled="true">	<input id="qty" type="number">	<input id="price" type="price" value="price" disabled="true"><input type="button" class="btn btn-info bi" value="-" onClick="removeorder('det','item1')" >
				   	</li>
				   	<li id="item2">
				   	<input id="item" type="text" value="item 1" disabled="true">	<input id="qty" type="number">	<input id="price" type="price" value="price" disabled="true"><input type="button" class="btn btn-info bi" value="-" onClick="removeorder('det','item2')" >
				   	</li>
				   	<li id="item3">
				   	<input id="item" type="text" value="item 1" disabled="true">	<input id="qty" type="number">	<input id="price" type="price" value="price" disabled="true"><input type="button" class="btn btn-info bi" value="-" onClick="removeorder('det','item3')" >
				   	</li>
				   	</ul>
				   </form>
				   	
				   </div>
				   <div class="cart">
				   
				   <input type="text" value="Order Amount" disabled="true">
				   <p><i class="fa fa-shopping-cart"></i>num</p>

				   <input type="button" class="btn btn-info" value="Details" onClick="showorder()" >
				   <input type="button" class="btn btn-info"value="Deliver!">
				   <div>
				</div>
				</div>
			    </div>
			    </div>
			    </div>
				<div class="row centered">
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-tumblr"></i></a>
				</div>
			</div><!-- row -->
		
	</div>
</div>
	
		
		
	


	
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(function() {

  $(".numbers-row").append('<div class="inc button">+</div><div class="dec button">-</div>');

  $(".button").on("click", function() {

    var $button = $(this);
    var oldValue = $button.parent().find("input").val();

    if ($button.text() == "+") {
  	  var newVal = parseFloat(oldValue) + 1;
  	} else {
	   // Don't allow decrementing below zero
      if (oldValue > 0) {
        var newVal = parseFloat(oldValue) - 1;
	    } else {
        newVal = 0;
      }
	  }

    $button.parent().find("input").val(newVal);

  });

});
    </script>
    <script type="text/javascript">
    function showorder()

    {	

    	var y=document.getElementById('order_box');
    	y.style.width="30%";
    	var x=document.getElementById('det_order');
    	if(x.style.display=="inline-block"){
    		x.style.display="none";
    		y.style.width="15%"
    	}
    	else{
    		x.style.display="inline-block";
    	}
    	


    }
    </script>
 <script type="text/javascript">
function removeorder(parentDiv, childDiv){
     if (childDiv == parentDiv) {
          alert("The parent div cannot be removed.");
     }
     else if (document.getElementById(childDiv)) {     
          var child = document.getElementById(childDiv);
          var parent = document.getElementById(parentDiv);
          parent.removeChild(child);
     }
     else {
          alert("Child div has already been removed or does not exist.");
          return false;
     }
}
 </script>
  </body>
</html>
